.auth0-lock-body-content {
    max-height: 55vh!important;
    min-height: 55vh!important;
    display: flex!important;
    align-items: center!important;
    background-color: rgba(0, 0, 0, 0)!important;
    background-blend-mode: overlay!important;
    justify-content: center!important;
}

.auth0-lock-content {
    width: 75vw!important;
}

.auth0-lock-social-button[data-provider^="google"] {
    background-color: rgb(174, 36, 26)!important;
}

.auth0-lock-content p {
    color: white!important;
}

.auth0-lock-content a {
    color: white!important;
}

.auth0-lock-cred-pane {
    background: url(https://images.unsplash.com/photo-1471421298428-1513ab720a8e?dpr=1&auto=format&fit=crop&w=1199&h=1810&q=80&cs=tinysrgb&crop=)!important;
    background-size: cover!important;
    background-color: rgba(0, 0, 0, 0.5)!important;
    background-blend-mode: overlay!important;
}

.auth0-lock.auth0-lock .auth0-lock-header-bg {
    display: none!important;
}

.auth0-lock-header {
    height: 30vh!important;
}

.auth0-lock-name {
    color: white!important;
}

.auth0-lock.auth0-lock .auth0-lock-header {
    background: transparent!important;
    display: flex!important;
    justify-content: center!important;
    align-items: flex-end!important;
}

.auth0-lock.auth0-lock .auth0-lock-tabs {
    background: transparent!important;
}

.auth0-lock.auth0-lock .auth0-lock-header-logo {
    width: 35vw!important;
    height: 20vh!important;
}

input {
    background-color: rgba(0, 0, 0, 0.5)!important;
    color: white!important;
}

.auth0-lock.auth0-lock .auth0-lock-input-wrap {
    background-color: rgba(0, 0, 0, 0.5)!important;
}

.auth0-lock.auth0-lock .auth0-global-message.auth0-global-message-error {
    position: absolute!important;
    width: 100vw!important;
    padding: 0!important;
    margin-top: -2vh!important;
}

.auth0-lock.auth0-lock .auth0-lock-tabs li.auth0-lock-tabs-current {
    box-shadow: 0px 0px 15px 2px rgba(215, 231, 245, 0.97)!important;
}

.auth0-lock.auth0-lock .auth0-lock-tabs {
 box-shadow: none!important;
}
