extends layout

block content

  div(id="root" style="width: 280px; margin: 40px auto; padding: 10px;")

  script.
    var lock = new Auth0Lock('j0ICHuTbfDJXIrcQQBNyse42Ec48ul0E', 'brewbase.auth0.com',{ auth: {
          redirectUrl: 'http://localhost:4000/callback'
        , responseType: 'code'
        , params: {
          scope: 'openid name email picture'
        }
      }});

    // Show lock's login widget
    lock.show();
