.splashPage {
    background: linear-gradient(
            rgba(0,0,0,0.7),
            rgba(0,0,0,0.7)),
            url('../../../client/src/media/brewery.jpg') center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    height: 100vh;

}

.logo {
    height: auto;
    width: 175px;
    padding-top: 75px;
    padding-bottom: 125px;
}