@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #F5F5F5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
}

a {
    text-decoration: none;
    color: black;
}


.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons {
    font-size: 28px !important;
}

/* Container for splash page buttons */
.splashButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.splashPage {
    background: linear-gradient(
            rgba(0,0,0,0.7),
            rgba(0,0,0,0.7)),
            url('../media/brewery.jpg') center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

}

.logo {
    height: auto;
    width: 175px;
    padding-top: 75px;
    padding-bottom: 125px;
}

/* Age gate */
.overTwentyOne,
.underTwentyOne {
    width: 300px;
    height: 6.5vh;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #C4C4C4;
    color: white;
    border: none;
    margin-bottom: 25px;
}

/* Star icon in mobile nav override width */
.star {
    width: 24px;
}

/* Desktop version CSS */
.desktopNav {
    background-color: #2B2B28;
    height: 7vh;
    width: 100%;
    color: white;
    font-family: Futura;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 10px 0 black;
    flex: 0 0 auto;
}

.headerLink {
    text-decoration: none;
    color: inherit;
}

.headerMobile, .navMobile {
    display: none;
}

.rightSideItems {
    width: 19%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 15px;
}

.rightSideItems:hover {
    cursor: pointer;
}

.actCircle {
    font-size: 32px !important;
}

.companyName {
    margin-left: 15px;
    font-size: 30px !important;
}

.companyName:hover {
    cursor: pointer;
}

.searchInputContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.locationButton,
.searchIcon:hover {
    cursor: pointer;
}

.searchPage {
    background: linear-gradient(
            rgba(0,0,0,0.7),
            rgba(0,0,0,0.7)),
    url('../media/search.jpg') center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}


.searchBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93vh
}

.searchBar {
    text-align: center;
    margin: 0 0 0 -4px;
    width: 400px;
    border: 0;
    outline: 0;
    color: white;
    background: transparent;
    border-bottom: 2px solid white;
    font-size: 20px;

}

.searchBar::-webkit-input-placeholder {
   color: white;
   font-weight: bold;
}

.searchButton,
.locationButton {
    line-height: normal !important;
    text-align: center;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid white;
    height: 38px;
}

.searchResultsContainer {
    width: 100%;
    display: flex;
}

.resultsSearchBarContainer {
    width: 100%;
    display: flex;
}

.resultsSearchBar {
    text-align: center;
    margin: 0 0 0 -4px;
    width: 500px;
    border: 0;
    outline: 0;
    color: black;
    background: transparent;
    border-bottom: 2px solid black;
    font-size: 20px;

}

.resultsSearchBar::-webkit-input-placeholder {
   color: black;
}

.resultsSearchButton,
.resultsLocationButton {
    line-height: normal !important;
    text-align: center;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid black;
    height: 38px;
}

.resultsSearchButton,
.resultsLocationButton:hover {
    cursor: pointer;
}

.breweryResultsContainer {
    width:100vw;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cardHolderContainer {
/*width: 90%;*/
    min-width:400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cardContainer {
    width: 375px;
    height: 200px;
    margin: 20px;
    border-radius: 8px;
    background-color: #FDFDFD;
    box-shadow: 0 2px 2px 0 grey;
    border-color: #B4B4B4;
    display: flex;
    position: relative;
}

.favStar {
    font-size: 34px !important;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.textContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.breweryName {
    font-size: 21px;
    text-align: center;
    width: 85%;
}

.breweryAddress {
    font-size: 18px;
    text-align: center;
    width: 85%;
}

.resultsSearchBarContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.findABrewery {
    font-family: Futura;
    font-size: 30px;
}

.imgContainer {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: center no-repeat;
}

.breweryImg,
.beerImg {
    width: 116px;
    height: auto;
}

.moreInfoImg {
    width: 256px;
    height: auto;
}

.toggleContainer {
    display: flex;
    margin-top: 10px;
}

.favBreweriesBtnContainer,
.favBrewsBtnContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.active {
    text-decoration: underline;
    text-decoration-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.active:focus,
.disable:focus {
    outline: 0 !important;
}

.active,
.disable {
    border: none;
    width: 200px;
    height: 40px;
    background: transparent;
    font-family: 'Ubuntu';
    font-size: 25px;
}

.infoPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.breweryInfoContainer {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.breweryImgContainer {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.infoBox {
    width: 33%;
}


.infoRow {
    display: flex;
    justify-content: center;
}

.infoCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%
}

.infoAddress {
    font-size: 16px;
    text-align: center;
    color: blue;
    cursor: pointer;
}
.infoLink {
    color: inherit;
}

.infoDescription {
    margin-top: 5px;
    text-align: center;
}

.mapContainer {
    padding-left: 15px;
    align-self: center;
}


/* Going to mobile version */
@media(max-width: 800px) {
    h1 {
        font-size: 21px;
    }

    h2 {
        font-size: 16px;
    }

    a {
        text-decoration: none;
        color: black;
    }


    .headerMobile {
        background-color: #2B2B28;
        height: 8vh;
        width: 100%;
        color: white;
        font-family: Futura;
        font-size: 35px;
        font-weight: lighter;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .desktopNav {
        display: none;
    }

    .navMobile {
        background-color: #2B2B28;
        height: 8vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        bottom: 0;
    }

    /*Search bar mobile */
    .searchBar {
        text-align: center;
        margin: 0 0 0 -4px;
        width: 275px;
        border: 0;
        outline: 0;
        color: white;
        background: transparent;
        border-bottom: 2px solid white;
        font-size: 20px;
    }

    .searchBox {
        height: 92vh;
    }

    .searchResultsContainer {
        display: none;
    }

    .mapContainer {
        display: none;
    }

    .infoBox {
        width: 100%;
    }

    .infoDescription {
        width:95%;
        margin: 10px;
    }

    .mapContainer {
        display: none;
    }

    .infoBox {
        width: 100%;
    }

    .infoDescription {
        width:95%;
        margin: 10px;
    }

    .infoText {
        align-items: center;
    }
    /* Wrap card container component in this for scrolling */
    .content {
        position: fixed;
        top: 0;
        bottom: 8.2vh;
        left: 0;
        right: 0;
        overflow: auto;
    }

    .toggleContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .breweryResultsContainerFavorites {
        width:92vw;
        margin-left: 18px;
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        top: 19vh;
        bottom: 8.2vh;
        left: 0;
        right: 0;
        overflow: auto;
        position: fixed;
    }

    .cardHolderContainer {
        display: flex;
    }


    .expandedCardContainer,
    .cardContainer {
        width: 95% ;
        margin: 2.5%;
        border-radius: 10px;
        background-color: #FDFDFD;
        box-shadow: 0 2px 2px 0 grey;
        border-color: #B4B4B4;
        display: flex;
        position: relative;
    }

    .expandedCardContainer {
        height: 35vh;
    }


    .cardContainer {
        height: 21vh;
    }

    .expandedImgContainer {
        width: 30%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: center no-repeat;
    }

    .textContainer {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .expandedTextContainer {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .breweryInfo {
        width: 80%;
        text-align: center;
    }

    .breweryName,
    .breweryAddress,
    .distanceAway,
    .beerName,
    .styleName,
    .availableName,
    .abv,
    .ibu {
        margin: 0;
    }

    .moreInfoImg {
        width: 116px;
        height: auto;
    }
}

/* Search bar iPhone 6 and below */

@media(max-width: 400px) {
    .searchBar {
        text-align: center;
        margin: 0 0 0 -4px;
        width: 230px;
        border: 0;
        outline: 0;
        color: white;
        background: transparent;
        border-bottom: 2px solid white;
        font-size: 20px;
    }
}
